// Colors
$deep-orange: #F16718;
$light-orange: #FF9B62;
$blueish-black: #162542;
$greyish-blue: #7B8BAD;
$light-blue: #E8EFF2;
$accent-white: #FFFFFF;

// Font Sizes
$font-sizes: (
    "size-h1": 3.5rem,
    "size-h2": 2rem,
    "size-h3": 1.5rem,
    "size-p": 1rem
);

// Font Weight
$font-weights: (
    "weight-heavyBold": 900,
    "weight-bold": 700,
    "weight-medium": 500
);

// Line Height
$line-heights: (
    "lh-title-h1": 3.5rem,
    "lh-title-h2": 2.25rem,
    "lh-title-h3": 1.75rem,
    "lh-paragraph": 1.625rem
);