// IMPORT STATEMENTS
@import './resets', './variables';
@import './button-general-mobile', './paragraphs-gen', './span-gen';

// FUNCTIONS
@function fontWeight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function lineHeight($line-height) {
    @return map-get($line-heights, $line-height);
}

@function fontSize($size) {
    @return map-get($font-sizes, $size);
}

// CONTENT STYLES
body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: fontSize(size-p);
    font-weight: fontWeight(weight-medium);
    line-height: lineHeight(lh-paragraph);
}

img {
    max-width: 100%;
}

.grey-box-gen {
    display: none;
}

.content-wrapper {
    display: grid;
    place-content: center;
}

.header-main {
    display: grid;
    margin: 1.5rem 1.5rem 4rem;

    .btn-main {
        justify-self: end;
        grid-row: 1;
        grid-column: 1;
    }

    .logo-main {
        justify-self: start;
        align-self: center;
        grid-row: 1;
        grid-column: 1;
    }
}

.sectop__wrapper {
    margin: 0 1.5rem 4rem;
}

.title-main {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: fontWeight(weight-heavyBold);
    text-align: left;
    margin-bottom: 2rem;
}

.p-sectop {
    text-align: left;
    margin-bottom: 2rem;
}

.sectop__btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        text-transform: uppercase;
    }
}

.btn-sec-top {
    background-color: $deep-orange;
    color: $accent-white;

}

.sectop__imgWrapper {
    display: grid;
}

.img-keyboard {
    background-image: url(../../starter-code/assets/mobile/image-keyboard.jpg);
    width: 93%;
    padding-top: 83%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 19px 0 0 19px;
    justify-self: end;
    margin-bottom: 1.5rem;

}


