// IMPORT STATEMENTS
@import './resets', './variables';

// FUNCTIONS
@function fontWeight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@function lineHeight($line-height) {
    @return map-get($line-heights, $line-height);
}

@function fontSize($size) {
    @return map-get($font-sizes, $size);
}

// CONTENT STYLES
body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-size: fontSize(size-p);
    font-weight: fontWeight(weight-medium);
    line-height: lineHeight(lh-paragraph);
}


