* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Colors
$deep-orange: #F16718;
$light-orange: #FF9B62;
$blueish-black: #162542;
$greyish-blue: #7B8BAD;
$light-blue: #E8EFF2;
$accent-white: #FFFFFF;

// Font Sizes
$title-h1: 3.5rem;
$title-h2: 2rem;
$title-h3: 1.5rem;
$paragraphs: 1rem;

// Font Weight
$weight-black: 900;
$weight-bold: 700;
$weight-medium: 500;

$lh-title-h1: 3.5rem;
$lh-title-h2: 2.25rem;
$lh-title-h3: 1.75rem;
$lh-paragraph: 1.625rem;

body {
    font-family: 'Barlow', sans-serif;
    font-size: $paragraphs;
    font-weight: $weight-medium;
}


